div h2 {
    text-align: center;
    color: black;
    margin-top: 8%;
    font-style: oblique;
}

#mapaContacto {
    
    margin-top: 5%;    
}

.mapa{
    float: left;
    margin-left: 19%;
}

div iframe {
    border: 4px solid #393838;
}

.contacto{
    width: 25%;
    height: 200px;
    background-color: #b2b2b2;
    float: right;
    margin-top: 6%;
    margin-right: 19%;
    font-size: 15px;
    
}

div ul {
    line-height: 47px;
    padding: 31px;
    margin-left: 25px;
}

div ul li{
    list-style: none;
    padding-left: 40px;
    margin-top: -9px;
    color: black;
}

img {
    float: left;
}