body {
	margin: 0 !important;
	padding: 0 !important;
	font-family: Arial, Helvetica, sans-serif !important;
	color: black !important;
	background: #ebebeb !important; 
	font-size: 1em !important;
	line-height: 1.5em !important;
}


nav {
    text-align: center;
    background-color: #393838;
    height: 60px;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 16;
}


nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 500;
}

nav ul li {
    display: inline-block;
    font-weight: bold;
    margin-top: 0.9%;
}
			
nav ul li a {
    display: block !important;
    padding: 0 30px 15px !important;
    text-decoration: none !important;
    color: #ebebeb !important;
    font-size: 16px;
}
			
nav ul li a:hover {
    color: #4b8081 !important;
}

.active a:visited{
    color: #4b8081 !important;
}


