footer.navbar-fixed-bottom {
   position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}

.miPie {
    margin-top: 0.7%;
    margin-left: 30%;
    float: left;
    font-size: 14px;
}

.miotroPie {
    float: right;
    margin-top: 0.7%;
    margin-right: 30%;
    font-size: 14px;
}

.miotroPie a {
    text-decoration: none !important;
    color: #ebebeb !important;
}

.miotroPie a:hover {
    color: #a5a1a1 !important;
}