.container{
    margin-top: 5%;
    width: 30% !important;
    color: black;
    margin-left: 35%;
}

form {
    padding: 7%;
    padding-left: 17%;
    line-height: 35px;
    background-color: #b2b2b2;
}

h4 {
    margin-bottom: 8% !important;
    text-align: center;
    padding: 4%;
    font-size: 30px;
    font-weight: bold !important;
}

input.form-control {
    margin-left: 5%;
    width: 75%;
}

textarea {
    width: 75% !important;
    height: 50%;
    margin-left: 5% !important;
}

button{
    margin-top: 10px !important;
    margin-bottom: 5px !important;
}